In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
!unzip /content/gdrive/MyDrive/Trendyol.zip

Archive:  /content/gdrive/MyDrive/Trendyol.zip
  inflating: supplier_return.csv
  inflating: test_data.csv
  inflating: transactions.csv
  inflating: user_demographics.csv
  inflating: products.csv
  inflating: qa.csv
  inflating: reviews.csv
  inflating: supplier_defective_return.csv
  inflating: supplier_disputed_return.csv

In [ ]:
products = pd.read_csv(r"products.csv")
qa = pd.read_csv(r"qa.csv")
reviews = pd.read_csv(r"reviews.csv")
supplier_defective_return = pd.read_csv(r"supplier_defective_return.csv")
supplier_disputed_return = pd.read_csv(r"supplier_disputed_return.csv")
supplier_return = pd.read_csv(r"supplier_return.csv")
test_data = pd.read_csv(r"test_data.csv")
transactions = pd.read_csv(r"transactions.csv")
user_demographics = pd.read_csv(r"user_demographics.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
transactions[["product_content_id","user_id","order_parent_id"]] = transactions[["product_content_id","user_id","order_parent_id"]].drop_duplicates()

In [ ]:
new = test_data["id"].str.split("|", n = 2, expand = True)

In [ ]:
test_data["user_id"]= new[0]
test_data["product_content_id"]= new[1]
test_data["order_parent_id"]= new[2]
test_data = test_data.drop(["id"],axis=1)

In [ ]:
test_data["user_id"] = test_data["user_id"].astype(int)
test_data["product_content_id"] = test_data["product_content_id"].astype(int)
test_data["order_parent_id"] = test_data["order_parent_id"].astype(int)

In [ ]:
test_transactions = pd.merge(test_data,transactions,how="left",on=["product_content_id","user_id","order_parent_id"])
test_transactions.shape

(7471, 19)

In [ ]:
test_transactions[test_transactions["order_parent_id"]==725291348]

      expected   user_id  ...  is_saved_card_trx  is_returned
7468       NaN  71115350  ...               True          NaN
7469       NaN  71115350  ...               True          NaN

[2 rows x 19 columns]

In [ ]:
test_products = pd.merge(test_transactions,products,how="left",on=["product_variant_id", "product_content_id"])

In [ ]:
reviews = reviews.groupby(["product_content_id", "supplier_id"])["rate"].mean().to_frame()
test_review = pd.merge(test_products,reviews,how="left",on=["product_content_id", "supplier_id"])
del reviews

In [ ]:
user_id_gender = user_demographics.drop(["birth_date", "membership_date"], axis=1)
test_demographics = pd.merge(test_review,user_id_gender,how="left",on="user_id")
del user_id_gender
del user_demographics

In [ ]:
test_return = pd.merge(test_demographics,supplier_return,how="left",on = "supplier_id")

In [ ]:
supplier_defective_return = supplier_defective_return.rename(columns = {"returnRate":"defective_returnRate"})
test_defective_return = pd.merge(test_return,supplier_defective_return,how="left",on = "supplier_id")

In [ ]:
del supplier_disputed_return["unresolved_claim"]
del supplier_disputed_return["unresolved_accepted_claim"]

In [ ]:
test_disputed_return = pd.merge(test_defective_return,supplier_disputed_return,how="left",on = "supplier_id")

In [ ]:
df = test_disputed_return 
df.head()

   expected  user_id  ...  total_claim  unresolvedclaim_percentage
0       NaN    18115  ...      3269293                    0.000000
1       NaN    27588  ...      3269293                    0.000000
2       NaN    29165  ...       328876                    0.264478
3       NaN    29969  ...      3269293                    0.000000
4       NaN    35107  ...      3269293                    0.000000

[5 rows x 38 columns]

In [ ]:
df['AVG_spend'] = df['original_price'].groupby(df["user_id"]).transform('mean') ## Added a column that shows average amount of money each user spend.
df["parent_product_user"] = df.user_id.map(str) + "|" + df.order_parent_id.map(str) + "|"+ df.product_content_id.map(str)
df["count"] = df.groupby(["parent_product_user"])["product_variant_id"].transform("count") # Added a column that shows how many units the user bought of different variants of the same product.

In [ ]:
del df["order_date"]
del df["user_id"]
del df["supplier_id"]
del df["order_line_item_id"]
del df["order_parent_id"]
del df["product_content_id"]
del df["product_variant_id"]
del df["coupon_id"]
del df["promotion_name"]
del df["product_id"]
del df["product_name"]
del df["brand_id"]
del df["brand_name"] # Sonra bakılcak.
del df["gender_id"]
del df["category_id"]
del df["category_name"] # Sonra bakılcak.
del df["color_id"]
del df["supplier_color_name"] 
del df["attributet_name"] # Sonra Bakılcak.
del df["attribute_value"]

In [ ]:
df["ship_cost"] = df["ship_cost"].fillna(0)

df["promotion_award_value"] = df["promotion_award_value"].fillna(0)

df["rate"] = df["rate"].fillna(0)

df["color_name"] = df["color_name"].fillna("yok")

df["unresolvedclaim_percentage"] = df["unresolvedclaim_percentage"].fillna(0)

df["total_claim"] = df["total_claim"].fillna(0)

df["defective_returnRate"] = df["defective_returnRate"].fillna(0)

df["returnRate"] = df["returnRate"].fillna(0)

In [ ]:
df = df.drop(["is_returned","expected"],axis=1)

In [ ]:
pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.3.0-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 484 kB/s
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.3.0

In [ ]:
import category_encoders as ce
ohe = ce.OneHotEncoder(handle_unknown='value', use_cat_names=True)

OH_cols_train = pd.DataFrame(ohe.fit_transform(df[["gender_name", "color_name", "gender"]])) #One-Hot encoding applied to train dataset
OH_cols_train.index = df.index
df = df.drop(columns = ["gender_name", "color_name", "gender"]) #Dropping categorical columns
df = pd.concat([df,OH_cols_train],axis = 1) # Assembling df with encoded columns

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
df["is_saved_card_trx"] = df["is_saved_card_trx"].astype(int)

In [ ]:
df["gender_name_Kadın"] = np.zeros(np.shape(df.index))
df["gender_name_Unknown"] = np.zeros(np.shape(df.index))
df["color_name_Altın"] = np.zeros(np.shape(df.index))
df["color_name_yok"] = np.zeros(np.shape(df.index))
df["color_name_Metalik"] = np.zeros(np.shape(df.index))
df = df[['is_elite_user', 'original_price', 'discounted_price', 'ship_cost',
       'coupon_discount', 'promotion_award_value', 'is_wallet_trx',
       'is_saved_card_trx', 'rate', 'returnRate', 'defective_returnRate',
       'total_claim', 'unresolvedclaim_percentage', 'AVG_spend', 'count',
       'gender_name_Erkek', 'gender_name_Kadın / Kız', 'gender_name_Unisex',
       'gender_name_Kadın', 'gender_name_Unknown', 'color_name_Beyaz',
       'color_name_Yeşil', 'color_name_Gri', 'color_name_Mor',
       'color_name_Mavi', 'color_name_Haki', 'color_name_Siyah',
       'color_name_Bej', 'color_name_Pembe', 'color_name_Kırmızı',
       'color_name_Turuncu', 'color_name_Sarı', 'color_name_Kahverengi',
       'color_name_Ekru', 'color_name_Lacivert', 'color_name_Bordo',
       'color_name_Turkuaz', 'color_name_Gümüş', 'color_name_Metalik',
       'color_name_Altın', 'color_name_yok', 'gender_Bayan', 'gender_Bay',
       'gender_UNKNOWN', 'gender_kvkktalepsilindi']]

In [ ]:
import pickle
# Load the Model back from file
with open("LGBM_TUNED_2.pk1", 'rb') as file:  
    clf = pickle.load(file)

In [ ]:
ypred = clf.predict(df)

In [ ]:
test_data = pd.read_csv(r"test_data.csv")

In [ ]:
test_data["expected"] = ypred
test_data

                                id  expected
0         18115|87073974|726348863       1.0
1        27588|118753298|723169934       1.0
2         29165|35699988|724122443       0.0
3          29969|5893187|722342150       1.0
4         35107|93897418|723421057       0.0
...                            ...       ...
7466  71083899|100019570|728638514       0.0
7467   71106534|35624085|725372928       0.0
7468   71115350|94438742|725291348       0.0
7469  71115350|100017676|725291348       0.0
7470   71160557|87073974|726377172       1.0

[7471 rows x 2 columns]

In [ ]:
test_data["expected"] = test_data["expected"].astype(int)

In [ ]:
test_data.set_index("id").to_csv('submission_lgbm_F2.csv')